html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}
/* font-family: 'Barlow', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif; */


body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: #FFF;
    color: #000;
    line-height: 100%;
}
.header{
    padding: 49px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    gap: 53px;
    align-items: center;
}


.menu__link:hover span{
    color: #1E47FF;
    text-decoration: underline;
    transition: all .3s;
}

.header__btn{
    margin: 0 25px;
}



.itservices {
    background: url(../images/it-services.png) no-repeat center;
    background-size: cover;
    background-color: rgba(2, 2, 2, 0.59); 
    color: #FFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.itservices__title{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 138.5%;
    margin: 0 auto 16px;
    max-width: 70%;
}
.itservices__text{
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    max-width: 60%;
    margin: 0 auto 25px;
}

.itservices__contacts{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.itservices__btn{
    padding: 18px 25px;
    border-radius: 5px;
    background: #1E47FF;
    font-size: 14px;
    font-weight: 600;
}

.itservices__tell{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.itservices__tell:hover{
    text-decoration: underline;
}

.column{
    padding-top: 140px;
}

.column__content {
    display: flex;
    gap: 27px;
}
.column__item{
    border-radius: 10px;
    border: 1px solid rgba(30, 71, 255, 0.37);
    background: #FFF;   
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 37px 48px;
    text-align: center;
}


.column__icon {
    width: 70px;
    margin-right: 20px; 
}



.column__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 138.5%;
    display: flex;
    align-items: center; 
}

.column__text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%; 
    max-width: 287px; 
}





